{% extends "base2.html" %}
{% block title %}Product_page{% endblock %}

{% block content %}
<div class="header">
    <h1 align="center" id="helpdesk">Hi! How can we help you?</h1>
    <div class="search_bar">
        <input type="text" name="search" placeholder="Enter your question here..">
</div>

<div class="Qns">
  <h1>Shipping and Delivery</h1>
    <h2>How long does shipping take?</h2>
        <p>To view estimated shipping times for your orders, please visit your Purchase History and choose "Where's My Package?" for more information. You can track your package's delivery progress at any time from this area.</p>

    <h2>How can I track my order?</h2>
        <p>If you want to check the delivery status of your order, you can find the most updated tracking information by visiting Purchase History.</p>
        <p>Click on "Where's My Package?" to view your order’s estimated date of arrival and tracking history. Please note, depending on how the store ships your order, there may not be tracking information available.</p>

    <h2>How much does shipping cost?</h2>
        <p>We strive to maintain low shipping costs. The shipping price associated with each item is displayed at checkout. The cost varies depending on the size, weight and destination of your order..</p>

    <h2>How do I change my shipping address?</h2>
        <p>Before placing your order, you can change the shipping address directly in your shopping cart.</p>
        <p>If your order was placed within the first 8 hours, you can go to your Purchase History and click "Change Shipping Address".</p>
        <p>Once your order has shipped, it's no longer possible to change the address. We recommend contacting your local post office with your tracking numbers to see if they can reroute your order to another address.</p>
</div>
{% endblock %}
